<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<h1>hello</h1>
<button id="coffee">Coffee</button>
<button id="mac">Mac</button>

<ul id='list-img'>

</ul>
</body>
</html>
