<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1 class="title">MyInstaTags</h1>
  <div class="content">
    <div class="list-buttons"></div>
    <div class="galerry">
      <ul id='list-img'></ul>
    </div>
  </div>
</body>
</html>
